@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

nav {
    height: 80px;
    display: flex;
}

.logo {
    width: 160px;
}

.nav__container {
    width: 100%;
    max-width: 1280px;
    padding: 0 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav__link {
    margin: 0 24px 0 28px;
    padding: 0 0 4px;
    font-size: 14px;
    font-weight: 600;
    color: #303030;
}

.nav__link:hover,
.menu__link:hover {
    text-decoration: underline;
    color: blueviolet;
}

.nav__link--primary {
    color: white;
    background-color: blueviolet;
    border-width: 0;
    border-radius: 40px;
    font-weight: 600;
    padding: 12px 32px;
    font-size: 14px;
}
.nav__link--primary:hover {
    background-color: rgb(168, 32, 156);
}


.menu__backdrop {
    position: absolute;
    background-color: #242424;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50%;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all 300ms ease;
}

.menu--open .menu__backdrop {
    display: flex;
    visibility: visible;
    opacity: 1;
}

.menu--open {
    max-height: 100vh;
    overflow-y: hidden;
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__list {
    padding: 24px 0;
}

.menu__link {
    color: white;
    font-size: 32px;
}

.btn__menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: white;
}

.btn__menu {
    background-color: transparent;
    font-size: 40px;
    
    text-align: center;
    border: none;
    color: blueviolet;
    display: none;
}

button {
    cursor: pointer;
}

button:active {
    transform: translateY(1px);
}



#landing {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.twocolumninput__container {
    position: relative;
}

.twocolumn__container {
    display: flex;
    flex-direction: row;
    margin-top: 150px;
    margin-bottom: 92px;
}

.left__column {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    width: 40%;
    padding-right: 32px;
}

.right__column {
    display: flex;
    flex-direction: column;
    width: 60%;
    position: relative;
}

h1 {
    font-size: 48px;
    font-weight: 600;
    color: #303030;
    line-height: 1.2;
    text-align: center;
}

.left__header {
    text-align: left;
    font-size: 48px;
    font-weight: 600;
    color: #303030;
}

.accent {
    color: blueviolet;
}

p { 
    color: #4c4c4c;
    font-size: 18px;
    margin: 18px 0;
}

.twocolumninput__action {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 24px;
}

input {
    width: 100%;
    border-radius: 9999px;
    border: 2px solid #a0a0a0;
    padding: 24px 192px 20px 32px;
    font-weight: 400;
    color: #a0a0a0;
    font-size: 16px;
    background-color: white;
}

.input__button {
    right: 0px;
    top: 0px;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    background-color: blueviolet;
    padding: 0 24px 0 24px;
    font-weight: 700;
    position: absolute;
    margin: 8px 8px 8px 8px;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 500;
}

.input__button:hover {
    background-color: rgb(168, 32, 156);
}

.greycaps {
    text-transform: uppercase;
    text-align: left;
    font-size: 12px;
    font-weight: 600;
    color: #a0a0a0;
}

.left__column--logos {
    margin: 32px 0 0 0;
}

.company__logo--img {
    display: flex;
    width: 100%;
}

.company__logo {
    width: calc(100% / 3);
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 4px;
}

h3 {
    text-align: center;
    color: blueviolet;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.services__container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 150px;
}

.services__para {
    color:#4c4c4c;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    padding: 0 150px 32px 150px;
}

.services {
    display: flex;
    flex-wrap: wrap;
}

.service {
    display: flex;
    flex-direction: row;
    width: calc(100% / 3);
    padding: 32px 8px;
    
}

.service__img {
    border: 1px solid lightgray;
    border-radius: 9999px;
    padding: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    font-size: 32px;
    width: 40%;
    height: 40%;
    color:blueviolet;
    
}

.service__description {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    
}

h4 {
    font-size: 24px;
    color: #303030;
}

.service__para {
    color: #4c4c4c;
    font-size: 14px;
    padding: 0;
    max-width: 900px;
}

.quality-work {
    text-align: left;
}

.twocolumn__button {
    margin-top: 32px;
}

.btn {
    background-color:blueviolet;
    color: white;
    padding: 12px 32px;
    border-radius: 9999px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin: 32px 0 0 0;
}

.btn:hover {
        background-color: rgb(168, 32, 156);
}

.right__column--img {
    display: flex;
    flex-direction: column;
    width: 90%; 
    border-radius: 4px;
    border: 1px solid #a0a0a0;                          
    z-index: 2;
    margin-left: 24px;
}

.right__column--img--accent {
    position: absolute;
    right: 4px;
    bottom: -12px;
    z-index: 1;
}

.accent__img--right {
    width: 100px;
    opacity: .8;
}

.left__column--img {
    display: flex;
    flex-direction: column;
    width: 100%; 
    z-index: 2;
}

.left__column--img--accent {
    position: relative;
    z-index: 1;
}

.accent__img--left {
    width: 125px;
    position: absolute;
    bottom: 0px;
    right: 625px;
    opacity: .25;
}

.twocolumn__steps {
    display: flex;
    flex-direction: column;
}

.twocolumn__steps--list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: left;
    margin: 18px 0;
}

.twocolumn__steps--number {
    font-size: 48px;
    font-weight: 600;
    color: #a0a0a0;
    padding-right: 12px;
}

.twocolumn__steps--header {
    font-size: 24px;
    font-weight: 500px;
    padding-top: 8px;
}

.twocolumn__steps--text {
    font-size: 16px;
    color:#4c4c4c;
    line-height: 1.5em;
    margin: 8px 8px 8px 0px;
}

.left__column__60 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    width: 60%;
    padding-right: 24px;
}

.right__column__40 {
    display: flex;
    flex-direction: column;
    width: 40%;
    position: relative;
}

.twocolumn__left {
    display: flex;
    flex-direction: row;
    
}

.twocolumn__left--features {
    display: flex;
    flex-direction: column;
}

.twocolumn__left--features--img-container {
    display: flex;
    flex-direction: row;
    
}

.twocolumn__left--features--img {
    color: rgb(74, 212, 74);
    font-size: 24px;
    border-radius: 9999px;
    padding: 4px 16px; 
    margin-right: 8px;
    background-color: rgb(223, 249, 223);
}

.plan__container {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

.plans {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.plan {
    width: calc(100% / 4);
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    margin: 32px 0px 0px 0px;
    padding: 8px 0px 0px;
    justify-content: center;
    position: relative;
    box-shadow: 0px 0px 12px 7px #AEAEAE;
}

.plan-2 {
    width: calc(100% / 4);
    display: flex;
    flex-direction: column;
    background-color: rgb(169, 165, 244);
    border-radius: 8px;
    text-align: center;
    align-items: center;
    margin: 32px 0px 0px 0px;
    padding: 8px 0px 0px;
    justify-content: center;
    position: relative;
    box-shadow: 0px 0px 12px 7px #AEAEAE;
}

.plan__highlight {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}   

.plan__divider {
    width: 100%;
    height: 2px;
    padding: 0px;
    margin: 0px;
    background-color: lightgrey;
}

.plan__middle--list {
    display: flex;
    flex-direction: column;
}

.plan__top {
    padding: 32px 0px;
    width: 100%;
    position: relative;
}

.plan__middle {
    padding: 24px 32px;
}

.plan__bottom {
    padding: 32px;
    border-top: 2px solid lightgrey;
    width: 100%;
}

.plan__button {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    color: white;
    padding: 16px 64px;
    border-radius: 9999px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    
}

.plan__button:hover,
.plan__button-2:hover,
.plan__button-3:hover {
    transform: translateY(2px);
    transform: translateX(1px);
    box-shadow: 0px 0px 7px 1px #AEAEAE;;
}

h5 {
    text-transform: uppercase;
    font-size: 20px;
}

h6 {
   font-size: 48px; 
   margin: 4px 0;
}

.monthly {
    font-size: 16px;
    text-transform: uppercase;
    color:#4c4c4c;
    font-weight: 600;
    margin: 0px;
}

.plan__middle--header {
    color: black;
    font-size: 20px;
    font-weight: 600;
    margin-top: 16px;
}

.plan__middle--list {
    font-size: 16px;
    color:#4c4c4c;
    margin: 18px 0px 0px;
    padding: 0px;
}

.list__item {
    margin: 20px 0px 0px;
}

.plan__button-2 {
    background: white;
    color:rgb(169, 165, 244);
    padding: 16px 64px;
    border-radius: 9999px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
}

.plan__button-3 {
    background: linear-gradient(115deg, rgb(250, 65, 126) 0%, rgb(248, 145, 166) 100%);
    color:white;
    padding: 16px 64px;
    border-radius: 9999px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
}

.plan__highlight-3 {
    background: linear-gradient(115deg, rgb(250, 65, 126) 0%, rgb(248, 145, 166) 100%);
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}   

.ratings {
    margin: 16px 0px;
    color: #fabf2a;
}

.twocolumn__right--testimonial {
    display: flex;
    flex-direction: row;
    margin-top: 24px;
}

.testimonial__img--mask {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    padding: 0px;
    margin-right: 24px;
}

.testimonial__img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.links {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;
    border-bottom: 1px solid white;
}

.link {
    display: flex;
    flex-direction: column;
    width: calc(100%/5);
    margin-bottom: 24px;
    align-items: center;
}

#bottom {
    background-color: blueviolet;
    color: white;
    padding: 32px 0px; 
}


.link__header {
    font-weight: 600;
    font-size: 18px;
    margin: 8px;
    padding: 0px;
    align-items: center;
}

.bottom__links {
    display: flex;
    flex-direction: column;
    padding: 0px;
    align-items: center;
}

.bottom__link {
    margin: 8px;
    padding: 0px;
}

footer {
    background-color: blueviolet;
    padding-bottom: 64px;
    
}

.footer__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__link,
.copyright {
    color:rgb(169, 165, 244);
}

.footer__logo {
    
}

h7 {
    font-weight: 600;
    color:rgb(169, 165, 244);
    font-size: 24px;
}

.copyright {
    font-size: 16px;
}

.footer__link {
    font-size: 24px;
    margin: 8px;
}

.vertical__spacer {
    width: 100%;
    height: 64px;
}

@media (max-width: 768px) {
    .twocolumn__container {
        padding: 0 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 64px;
        margin-bottom: 64px;
        justify-content: center;
        align-items: center;
    }

    .twocolumninput__container {
        padding: 4px;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }

    .left__column {
        width: 90%;
        margin: 24px;
        padding: 4px;
    }

    .right__column {
        width: 90%;
        padding: 4px;
        margin: 24px;
    }
    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 28px;
    }
    h6 {
        font-size: 24px
    }
    .left__header {
        font-size: 28px;
        text-align: center;
    }

    .subheading {
        text-align: center;
    }

    .greycaps {
        text-align: center;
    }

    
    .services__container {
        margin-top: 24px;
        margin-bottom: 24px;
        width: 90%;
    }

    .services {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .service {
        flex-direction: row;
        align-items: flex-start;
        text-align: left;
        width: 400px;
        padding: 16px 0 0 0;
    }

    .service__description {
        width: 1020px;
    }

    .services__para {
        padding: 0px;
        margin: 0px 0 16px 0;
    }

    .btn {
        align-self: center;
        margin: 0 auto;
    }

    .quality-work {
        text-align: center;
    }

    .twocolumn__button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0px;
    }

    .left__column__60 {
        width: 100%;
        margin-bottom: 32px;
        padding: 4px;
        
    }

    .right__column__40 {
        width: 100%;
        padding: 4px;
        margin: 0;
    }

    .twocolumn__steps {
        margin: 24px;
        padding: 4px;
    }

    .twocolumn__steps--list {
        display: inline;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .vertical__spacer {
        height: 64px;
    }


    .right__column--img {
        display: none;
    }

    .right__column--img--accent {
        display: none;
    }

    .plans {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .plan,
    .plan-2,
    .plan-3 {
        width: 400px;
    }

    .twocolumn__left--features {
        justify-content: center;
        align-items: center;
        padding: 4px;
        margin: 0 24px 0 24px;
    }

    .twocolumn__left--features--img {
        justify-content: center;
        align-items: center;
        padding: 4px;
        margin: 0 auto;
    }

    .twocolumn__left--features--img-container {
        justify-content: center;
        align-items: center;
    }

    .left__column--img {
        justify-content: center;
        padding: 4px;
        margin: 0 auto;
    }

    .ratings {
        text-align: center;
    }

    .twocolumn__left--features--img {
        margin-right: 8px;
    }

    .twocolumn__steps--text {
        text-align: center;
        margin: 0 24px;
    }

    .twocolumn__steps--header {
        text-align: center;
    }

    .twocolumn__right--testimonial {
        justify-content: center;
    }

    .testimonial__img--mask {
        margin: 0;
    }

    footer {
        padding: 24px;
    }

    .nav__links {
        display: none;
    }

    .btn__menu {
        display: block;
    }
   
}


@media (max-width: 550px) {
    .twocolumn__container {
        display: inline;
    }
    .accent__img--left,
    .accent__img--right {
        display: none;
    }

    h1 { 
        font-size: 32px
    }

    h2 {
        font-size: 24px;
    }

    .twocolumn__left {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .plan,
    .plan-2,
    .plan-3 {
        width: 400px;
    }

    .twocolumn__steps--header {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

