@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    padding: 4px 0 0 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

nav {
    height: 80px;
    display: flex;
}

.logo {
    width: 160px;
}

.nav__container {
    width: 100%;
    max-width: 1280px;
    padding: 0 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav__link {
    margin: 0 24px 0 28px;
    padding: 0 0 4px;
    font-size: 14px;
    font-weight: 600;
    color: #303030;
}

.nav__link:hover {
    text-decoration: underline;
    color: blueviolet;
}

.nav__link--primary {
    color: white;
    background-color: blueviolet;
    border-width: 0;
    border-radius: 40px;
    font-weight: 600;
    padding: 12px 32px;
    font-size: 14px;
}

#landing {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.twocolumninput__container {
    position: relative;
}

.twocolumn__container {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    margin-bottom: 80px;
}

.left__column {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    width: 40%;
    padding-right: 24px;
}

.right__column {
    display: flex;
    flex-direction: column;
    width: 60%;
    position: relative;
}

h1 {
    font-size: 48px;
    font-weight: 600;
    color: #303030;
    line-height: 1.2;
    text-align: center;
}

.left__header {
    text-align: left;
    font-size: 48px;
    font-weight: 600;
    color: #303030;
}

.accent {
    color: blueviolet;
}

p { 
    color: #4c4c4c;
    font-size: 18px;
    margin: 18px 0;
}

.twocolumninput__action {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 24px;
}

input {
    width: 100%;
    border-radius: 9999px;
    border-width: 2px;
    padding: 24px 192px 20px 32px;
    font-weight: 400;
    color: #a0a0a0;
    font-size: 16px;
    background-color: white;
    border-color: #a0a0a0;
}

.input__button {
    right: 0px;
    top: 0px;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    background-color: blueviolet;
    padding: 0 24px 0 24px;
    font-weight: 700;
    position: absolute;
    margin: 8px 8px 8px 8px;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 500;
}

.greycaps {
    text-transform: uppercase;
    text-align: left;
    font-size: 12px;
    font-weight: 600;
    color: #a0a0a0;
}

.left__column__logos {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 32px 0 0 0;
}

.company__logos {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.company__logo {
    width: calc(100% / 3);
}

.services__container {
    padding: 80px 0;
    max-width: 1280px;
    margin: 0 auto;
    
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

h3 {
    text-align: center;
    color: blueviolet;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.services__para {
    color:#4c4c4c;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    padding: 0 320px 32px 320px;
}

.services {
    display: flex;
    flex-wrap: wrap;
}

.service {
    display: flex;
    width: calc(100% / 3);
    padding: 16;
    
}

.service__img {
    color: blueviolet;
    border: 1px solid lightgray;
    border-radius: 9999px;
    padding: 12px;
    display: flex;
}

.service__description {
    display: flex;
    flex-direction: column;
}

h4 {
    font-size: 24px;
    color: #303030;

}

.service__para {
    color: #4c4c4c;
    font-size: 14px;
    padding: 0;
}

.quality-work {
    text-align: left;
}

.twocolumn__button {
    margin-top: 32px;
}

.btn {
    background-color:blueviolet;
    color: white;
    padding: 12px 32px;
    border-radius: 9999px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin: 32px 0 0 0;
}

.right__column--img {
    display: flex;
    flex-direction: column;
    width: 90%; 
    border-radius: 4px;
    border: 1px solid #a0a0a0;                          
    z-index: 2;
    margin-left: 24px;
}

.right__column--img--accent {
    position: absolute;
    right: 4px;
    bottom: -12px;
    z-index: 1;
}

.accent__img--right {
    width: 100px;
    opacity: .8;
}

.left__column--img {
    display: flex;
    flex-direction: column;
    width: 100%; 
    z-index: 2;
}

.left__column--img--accent {
    position: relative;
    z-index: 1;
}

.accent__img--left {
    width: 125px;
    position: absolute;
    bottom: 24px;
    right: 400px;
    opacity: .25;
}

.twocolumn__steps {
    display: flex;
    flex-direction: column;
}

.twocolumn__steps--list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: left;
    margin: 18px 0;
}

.twocolumn__steps--number {
    font-size: 48px;
    font-weight: 600;
    color: #a0a0a0;
    padding-right: 12px;
}

.twocolumn__steps--header {
    font-size: 20px;
    font-weight: 400;
    padding-top: 8px;
}

.twocolumn__steps--text {
    font-size: 14px;
    color: #4c4c4c;
    line-height: 1em;
    margin: 8px 0;
}
